/*====== banner area css start ======*/
.banner-area {
    position: relative;
    .banner-container {
        overflow: hidden;
        .swiper-wrapper {
            .swiper-slide {
                min-height: 500px;
                position: relative;
                overflow: hidden;
                background-position: center;
                background-size: cover;
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    opacity: 1;
                    background: $overlay;
                }
                .banner-position {
                    min-height: 500px;
                    @extend %flex;
                    justify-content: center;
                    align-items: center;
                    .banner-content {
                        span {
                            color: $white-color;
                            font-weight: 300;
                            font-size: 25px;
                            margin-bottom: -10px;
                            display: inline-block;
                            @include breakpoint (max-sm) {
                                max-width: 300px;
                            }
                            @include breakpoint (sm) {
                                font-size: 36px;
                            }
                            @include breakpoint (md) {
                                font-size: 40px;
                            }
                            @include breakpoint (xl) {
                                font-size: 48px;
                            }
                        }
                        h2 {
                            margin: 0;
                            line-height: 1;
                            position: relative;
                            color: $white-color;
                            &::before {
                                content: attr(data-text);
                                position: absolute;
                                top: 0;
                                left: 50%;
                                line-height: 4rem;
                                transform-origin: bottom;
                                transform: rotateX(180deg) translateX(-50%);
                                background: linear-gradient(0deg, #fff 0 , transparent 80%);
                                -webkit-background-clip: text;
                                color: transparent;
                                opacity: 0.5;
                            }
                        }
                        button.btn {
                            padding: 15px 30px;
                            margin-top: 30px;
                            @include breakpoint (md) {
                                padding: 15px 40px;
                            }
                            span {
                                font-size: 14px;
                            }
                            i {
                                font-size: 14px;
                            }
                        }
                        p {
                            margin: 0;
                            font-weight: 600;
                            max-width: 260px;
                            margin: 0 auto;
                            color: $white-color;
                            span {
                                font-size: 14px;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            color: #fff;
            &.swiper-pagination-fraction {
                bottom: 20px;
            }
            
        }
        .banner-button-next, .banner-button-prev  {
           position: absolute;
           top: 50%;
           z-index: 9;
           cursor: pointer;
           height: 50px;
           width: 50px;
           line-height: 50px;
           background: #ffffff7a;
           text-align: center;
           border-radius: 3px;
           cursor: pointer;
           i {
                color: $white-color;
            }
            &.swiper-button-disabled {
                background: #333;
            }
        }
        .banner-button-next {
            right: 0;
            @include breakpoint (sm) {
                right: 20px;
            }
        }
        .banner-button-prev {
            left: 0;
            @include breakpoint (sm) {
                left: 20px;
            }
        }
    }
}
/*====== banner area css ends  ======*/

//?======= page-header css start ======?//
.page-header {
    position: relative;    
    min-height: 450px;
    background-size: cover;
    background-position: center;
    background: url(../../assets/images/banner/bg_4.jpg)repeat;
    .p-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        opacity: 1;
        background: $overlay;
    }
    .fx-bg {
        background: #007BC3;
        background: -moz-linear-gradient(135deg, #314755, #26a0da);
        background: -webkit-linear-gradient(135deg, #314755, #26a0da);
        background: linear-gradient(135deg, #314755, #26a0da);
    }
    .page-fluid {
        @extend %absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        .page-header-content {
            h2 {
                margin: 0;
                color: $white-color;
            }
            ul.page-menu {
                padding: 0;
                margin: 0;
                list-style: none;
                @extend %flex;
                justify-content: center;
                align-items: center;
                li {
                    margin: 0 5px;
                    span {
                        color: $white-color;
                        font-weight: 900;
                    }
                    a {
                        color: $white-color
                    }
                }
            }
        }
    }
    &.style-two {
        background-image: url(../../assets/images/banner/bg_1.png);
    }
}
//?======= page-header css ends  ======?//